<div class="todos">
      <div>
        <form (submit)="addTodo($event)">
          <input placeholder="Create new todo..." [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo"/>
          <button  type="submit" [disabled]="newTodo===''">Add Todo</button>
        </form>
      </div>
            <ul>
              <li *ngFor="let todo of todos; let i=index">
                <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
                <span (click)="deleteTodo(i)" class="delete-icon">[&#10006;]</span>
              </li>
            </ul>
  </div>
